## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN'
application_df = application_df.drop(columns= ['EIN'])
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at NAME value counts to identify and replace with "Other"
application_df['NAME'].value_counts()

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [5]:
# NAME value counts >50
application_df['NAME'].value_counts()[application_df['NAME'].value_counts() > 50]

NAME
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                        408
PTA TEXAS CONGRESS                                                     368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                          331
ALPHA PHI SIGMA                                                        313
TOASTMASTERS INTERNATIONAL                                             293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                      287
LITTLE LEAGUE BASEBALL INC                                             277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                               266
MOMS CLUB                                                              210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION     206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                               197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                   166
KNIGHTS OF COLUMBUS                                                    158
HABITAT FOR HUMANITY INTERNATIONAL INC                                 154
TENNESSEE ORDER OF THE EASTERN STAR                                    151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                144
PTA UTAH CONGRESS                                                      140
THE UNITED STATES PONY CLUBS INC                                       136
CIVITAN INTERNATIONAL                                                  131
SIGMA BETA DELTA INC                                                   127
HONOR SOCIETY OF PHI KAPPA PHI                                         107
MONTANA 4-H FOUNDATION INC                                             107
WASHINGTON STATE GRANGE                                                106
UNIVERSITY OF WYOMING                                                  105
DEMOLAY INTERNATIONAL                                                  104
SERTOMA INC                                                            103
AIR FORCE ASSOCIATION                                                   99
WORKERS UNITED                                                          97
GAMMA THETA UPSILON                                                     92
INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS                              91
SOCIETY OF SAINT VINCENT DE PAUL COUNCIL OF LOS ANGELES                 87
ROTARY INTERNATIONAL                                                    84
CALIFORNIA GARDEN CLUBS INC                                             76
SWEET ADELINES INTERNATIONAL                                            73
DISABLED AMERICAN VETERANS                                              73
KLEIN SUPPORT GROUPS INC                                                69
CLEARCREEK I S D SUPPORT GROUPS                                         60
VFW AUXILIARY DEPARTMENT OF OKLAHOMA INC                                58
DEPARTMENT OF KANSAS LADIES AUXILIARY TO THE VFW OF THE US INC          57
CISD EDUCATIONAL SUPPORT GROUPS INC                                     57
SONS OF CONFEDERATE VETERANS INC                                        56
SLOW FOOD USA INC                                                       55
NATIONAL YOUNG MENS SERVICE LEAGUE                                      54
AMATEUR ATHLETIC UNION OF THE UNITED STATES                             52
LAMBDA THETA ALPHA                                                      52
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `names_to_replace`
cutoff_value = 50
names_to_replace = application_df['NAME'].value_counts()[application_df['NAME'].value_counts() < cutoff_value].index.tolist()

# Replace in dataframe
for app in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['NAME'].value_counts()

NAME
Other                                                                 24545
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
MONTANA 4-H FOUNDATION INC                                              107
HONOR SOCIETY OF PHI KAPPA PHI                                          107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
AIR FORCE ASSOCIATION                                                    99
WORKERS UNITED                                                           97
GAMMA THETA UPSILON                                                      92
INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS                               91
SOCIETY OF SAINT VINCENT DE PAUL COUNCIL OF LOS ANGELES                  87
ROTARY INTERNATIONAL                                                     84
CALIFORNIA GARDEN CLUBS INC                                              76
SWEET ADELINES INTERNATIONAL                                             73
DISABLED AMERICAN VETERANS                                               73
KLEIN SUPPORT GROUPS INC                                                 69
CLEARCREEK I S D SUPPORT GROUPS                                          60
VFW AUXILIARY DEPARTMENT OF OKLAHOMA INC                                 58
CISD EDUCATIONAL SUPPORT GROUPS INC                                      57
DEPARTMENT OF KANSAS LADIES AUXILIARY TO THE VFW OF THE US INC           57
SONS OF CONFEDERATE VETERANS INC                                         56
SLOW FOOD USA INC                                                        55
NATIONAL YOUNG MENS SERVICE LEAGUE                                       54
AMATEUR ATHLETIC UNION OF THE UNITED STATES                              52
LAMBDA THETA ALPHA                                                       52
UNITED FEDERATION OF DOLL CLUBS INC                                      50
UNIVERSITY OF FLORIDA                                                    50
Name: count, dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 16
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: count, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [10]:
# CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 100
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies_df = pd.get_dummies(application_df)
application_dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AIR FORCE ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CALIFORNIA GARDEN CLUBS INC,NAME_CISD EDUCATIONAL SUPPORT GROUPS INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [13]:
# Split our preprocessed data into our features and target arrays
X = application_dummies_df.drop(columns = ['IS_SUCCESSFUL']).values
y = application_dummies_df['IS_SUCCESSFUL'].values


# Split the preprocessed data into a training and testing dataset ==> random_state = 42 for reproducibility
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [51]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = X_train_scaled.shape[1]

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=16, activation='tanh', input_dim=number_input_features)
    )

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=32, activation='tanh')
    )

# Third hidden layer
nn.add(
    tf.keras.layers.Dense(units=16, activation='relu')
    )

# Fourth hidden layer
nn.add(
    tf.keras.layers.Dense(units=32, activation='relu')
    )

# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, activation='sigmoid')
    )


# Check the structure of the model
nn.summary()

Model: "sequential_10"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_51 (Dense)            (None, 16)                1696

 dense_52 (Dense)            (None, 32)                544

 dense_53 (Dense)            (None, 16)                528

 dense_54 (Dense)            (None, 32)                544

 dense_55 (Dense)            (None, 1)                 33

=================================================================
Total params: 3345 (13.07 KB)
Trainable params: 3345 (13.07 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [52]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [53]:

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=80)

Epoch 1/80
804/804 [==============================] - 3s 2ms/step - loss: 0.5182 - accuracy: 0.7389
Epoch 2/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4806 - accuracy: 0.7631
Epoch 3/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4761 - accuracy: 0.7659
Epoch 4/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4738 - accuracy: 0.7678
Epoch 5/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4721 - accuracy: 0.7675
Epoch 6/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4714 - accuracy: 0.7676
Epoch 7/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4702 - accuracy: 0.7690
Epoch 8/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4698 - accuracy: 0.7689
Epoch 9/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4690 - accuracy: 0.7698
Epoch 10/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4681 - accuracy: 0.7699
Epoch 11/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4674 - accuracy: 0.7695
Epoch 12/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4671 - accuracy: 0.7708
Epoch 13/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4669 - accuracy: 0.7710
Epoch 14/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4665 - accuracy: 0.7719
Epoch 15/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4657 - accuracy: 0.7718
Epoch 16/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4650 - accuracy: 0.7722
Epoch 17/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4648 - accuracy: 0.7717
Epoch 18/80
804/804 [==============================] - 3s 3ms/step - loss: 0.4645 - accuracy: 0.7720
Epoch 19/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4644 - accuracy: 0.7725
Epoch 20/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4639 - accuracy: 0.7728
Epoch 21/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4635 - accuracy: 0.7727
Epoch 22/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4630 - accuracy: 0.7722
Epoch 23/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4631 - accuracy: 0.7730
Epoch 24/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4626 - accuracy: 0.7733
Epoch 25/80
804/804 [==============================] - 3s 3ms/step - loss: 0.4625 - accuracy: 0.7735
Epoch 26/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4618 - accuracy: 0.7734
Epoch 27/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4618 - accuracy: 0.7732
Epoch 28/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4617 - accuracy: 0.7744
Epoch 29/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4610 - accuracy: 0.7743
Epoch 30/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4614 - accuracy: 0.7740
Epoch 31/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4603 - accuracy: 0.7735
Epoch 32/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4608 - accuracy: 0.7744
Epoch 33/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4606 - accuracy: 0.7741
Epoch 34/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4604 - accuracy: 0.7739
Epoch 35/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4600 - accuracy: 0.7743
Epoch 36/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4603 - accuracy: 0.7749
Epoch 37/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4601 - accuracy: 0.7750
Epoch 38/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4596 - accuracy: 0.7751
Epoch 39/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4592 - accuracy: 0.7752
Epoch 40/80
804/804 [==============================] - 3s 3ms/step - loss: 0.4592 - accuracy: 0.7749
Epoch 41/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4595 - accuracy: 0.7762
Epoch 42/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4590 - accuracy: 0.7745
Epoch 43/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4589 - accuracy: 0.7758
Epoch 44/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4583 - accuracy: 0.7758
Epoch 45/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4582 - accuracy: 0.7749
Epoch 46/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4582 - accuracy: 0.7762
Epoch 47/80
804/804 [==============================] - 3s 3ms/step - loss: 0.4583 - accuracy: 0.7745
Epoch 48/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4577 - accuracy: 0.7759
Epoch 49/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4578 - accuracy: 0.7758
Epoch 50/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4577 - accuracy: 0.7755
Epoch 51/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4579 - accuracy: 0.7750
Epoch 52/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4578 - accuracy: 0.7759
Epoch 53/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4578 - accuracy: 0.7755
Epoch 54/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4573 - accuracy: 0.7760
Epoch 55/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4574 - accuracy: 0.7766
Epoch 56/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4572 - accuracy: 0.7759
Epoch 57/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4574 - accuracy: 0.7759
Epoch 58/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4571 - accuracy: 0.7748
Epoch 59/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4567 - accuracy: 0.7758
Epoch 60/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4573 - accuracy: 0.7759
Epoch 61/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4568 - accuracy: 0.7756
Epoch 62/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4564 - accuracy: 0.7762
Epoch 63/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4564 - accuracy: 0.7766
Epoch 64/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4568 - accuracy: 0.7764
Epoch 65/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4564 - accuracy: 0.7774
Epoch 66/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4560 - accuracy: 0.7771
Epoch 67/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4561 - accuracy: 0.7760
Epoch 68/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4562 - accuracy: 0.7774
Epoch 69/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4562 - accuracy: 0.7768
Epoch 70/80
804/804 [==============================] - 3s 4ms/step - loss: 0.4563 - accuracy: 0.7772
Epoch 71/80
804/804 [==============================] - 3s 4ms/step - loss: 0.4563 - accuracy: 0.7762
Epoch 72/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4563 - accuracy: 0.7759
Epoch 73/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4560 - accuracy: 0.7769
Epoch 74/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4559 - accuracy: 0.7767
Epoch 75/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4557 - accuracy: 0.7770
Epoch 76/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4560 - accuracy: 0.7773
Epoch 77/80
804/804 [==============================] - 3s 3ms/step - loss: 0.4553 - accuracy: 0.7769
Epoch 78/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4559 - accuracy: 0.7765
Epoch 79/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4552 - accuracy: 0.7773
Epoch 80/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4558 - accuracy: 0.7769

In [54]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4902 - accuracy: 0.7623 - 583ms/epoch - 2ms/step
Loss: 0.4901883602142334, Accuracy: 0.7623323798179626

In [55]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(